.results-container {
  min-height: calc(92vh + 153px);
}

.card-image {
  min-height: 100%;
  //height: auto;
  //width: auto;
  object-fit: cover;
  min-width: calc(100% + 17px);
  //min-width: -webkit-fill-available;
}

.padding-zero-important {
  padding: 0 !important;
}

.tags {
  font-size: 10px;
  text-shadow: 1px 0 3px black;
}

.proxy-switch {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: scale(.8);
}
